# MAC               friendly name
C4:7C:8D:AA:BB:CC   xiaomi_BBCC
C4:7C:8D:BB:CC:DD   xiaomi_CCDD
C4:7C:8D:DD:EE:FF   xiaomi_EEFF
C4:7C:8D:11:22:33   xiaomi_2233
C4:7C:8D:22:33:44   xiaomi_3344
C4:7C:8D:33:44:55   xiaomi_4455
